.markdown {
    word-break: break-word;
}

.markdown * {
    word-break: break-word;
}

.markdown>*:first-child {
    margin-top: 0 !important;
}

.markdown>*:last-child {
    margin-bottom: 0 !important;
}

.markdown {
    line-height: 1.75;
    color: var(--color-text);
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    margin: 1.5rem 0;
    font-weight: normal;
    color: var(--color-border);
    line-height: 1.25;
}

.markdown h1 {
    font-size: 2rem;
}

.markdown h2 {
    font-size: 1.75rem;
}

.markdown h3 {
    font-size: 1.5rem;
}

.markdown h4 {
    font-size: 1.25rem;
}

.markdown h5 {
    font-size: 1rem;
}

.markdown h6 {
    font-size: 1rem;
}

.markdown h1 .anchor,
.markdown h2 .anchor,
.markdown h3 .anchor,
.markdown h4 .anchor,
.markdown h5 .anchor,
.markdown h6 .anchor {
    margin-right: 0.75rem;
}

.markdown h1 .anchor::before,
.markdown h2 .anchor::before,
.markdown h3 .anchor::before,
.markdown h4 .anchor::before,
.markdown h5 .anchor::before,
.markdown h6 .anchor::before {
    color: var(--color-primary);
}

.markdown h1 .anchor::before {
    content: '#';
}

.markdown h2 .anchor::before {
    content: '##';
}

.markdown h3 .anchor::before {
    content: '###';
}

.markdown h4 .anchor::before {
    content: '####';
}

.markdown h5 .anchor::before {
    content: '#####';
}

.markdown h6 .anchor::before {
    content: '######';
}

.markdown p,
.markdown blockquote,
.markdown ul,
.markdown ol,
.markdown dl,
.markdown .table-box,
.markdown .code-block-box {
    margin: 1rem 0;
}

.markdown hr {
    margin: 1.5rem 0;
    border: none;
    border-top: var(--blog-border-size) solid var(--color-border);
}

.markdown ul,
.markdown ol {
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.markdown ul>li {
    list-style-type: disc;
}

.markdown ul ul>li {
    list-style-type: circle;
}

.markdown ul ul ul>li {
    list-style-type: square;
}

.markdown ol>li {
    list-style-type: decimal;
}

.markdown li p:first-of-type {
    display: inline;
}

.markdown li p:first-of-type+* {
    margin-top: 0.625rem !important;
}

.markdown li>*:last-child {
    margin-bottom: 0 !important;
}

.markdown blockquote {
    border-left: 0.25rem solid var(--color-gray-300);
    background-color: #F3F3F3;
    padding: 0.375rem 1rem;
    color: var(--color-text-secondary);
}

.markdown blockquote>p:first-child {
    margin-top: 0 !important;
}

.markdown blockquote>p:last-child {
    margin-bottom: 0 !important;
}

.markdown blockquote p,
.markdown blockquote span,
.markdown blockquote strong,
.markdown blockquote b,
.markdown blockquote em,
.markdown blockquote i,
.markdown blockquote a,
.markdown blockquote code,
.markdown blockquote pre {
    color: inherit !important;
}

.markdown blockquote a {
    color: var(--color-primary) !important;
}

.markdown blockquote blockquote {
    padding-right: 0;
}

.markdown .table-box {
    overflow-x: auto;
}

.markdown table {
    border-collapse: collapse;
    width: 100%;
}

.markdown table tr {
    border: 1px solid var(--color-border-light);
}

.markdown thead {
    background-color: var(--color-bg-light);
}

.markdown table th {
    font-weight: bold;
    color: var(--color-border);
    border: 1px solid var(--color-border-light);
    padding: 0.375rem 0.75rem;
    text-align: left;
}

.markdown table td {
    border: 1px solid var(--color-border-light);
    padding: 0.375rem 0.75rem;
}

.markdown code,
.markdown tt {
    font-size: 1rem;
    border-radius: 4px;
    padding: 0 0.25rem;
    background-color: var(--color-highlight);
}

.markdown pre>code {
    display: block;
    padding: 0.375rem 0.75rem;
    overflow-x: auto;
    background-color: transparent;
    line-height: 1.5;
    border-radius: 0;
    border: var(--blog-border-size) solid var(--color-border);
}

.markdown img {
    max-width: 100%;
}

.markdown audio {
    max-width: 100%;
}

.markdown video {
    max-width: 100%;
}

.markdown .spoiler {
    color: transparent;
    background-color: var(--color-highlight);
    transition: color 0.3s ease, background-color 0.3s ease;
}

.markdown .spoiler:hover {
    color: var(--color-text);
    background-color: var(--color-highlight);
}

.markdown dd {
    padding: 0 1.5rem;
}

/*******************************************************************************
 * 代码块
 ******************************************************************************/

.markdown .code-block-box {
    display: flex;
    flex-direction: column;
}

.markdown .code-block-header {
    display: flex;
    padding: 0.125rem 0.75rem;
    justify-content: space-between;
    background-color: #f8f8f8;
    font-size: 0.875rem;
    border: var(--blog-border-size) solid var(--color-border);
    border-bottom: none;
    color: var(--color-text);
    align-items: center;
}

.markdown .code-copy-btn {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    padding: 0.25rem 0.25rem;
    border-radius: 4px;
    background-color: transparent;
    transition: color 0.2s ease, background-color 0.2s ease;
}

.markdown .code-copy-btn:hover {
    background-color: #DCDCDC;
}

.markdown .code-copy-btn:active {
    background-color: #c9c9c9;
}

.markdown .code-copy-btn::before {
    content: "";
    background-image: url("/theme/assets/image/copy.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0.875rem 0.875rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*******************************************************************************
 * 滚动条
 ******************************************************************************/

.markdown pre>code::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.markdown pre>code::-webkit-scrollbar-track {
    background: var(--color-gray-200);
    border-radius: 3px;
}

.markdown pre>code::-webkit-scrollbar-thumb {
    background: var(--color-gray-400);
    border-radius: 3px;
    transition: background 0.2s ease;
}

.markdown pre>code::-webkit-scrollbar-thumb:hover {
    background: var(--color-gray-500);
}

.markdown pre>code {
    scrollbar-width: thin;
    scrollbar-color: var(--color-gray-400) var(--color-gray-200);
}

/*******************************************************************************
 * 列表复选框
 ******************************************************************************/

.markdown li>input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    position: relative;
    width: 0.75rem;
    height: 0.75rem;
    margin-right: 0.25rem;
    margin-left: -1.25rem;
    border: 1px solid var(--color-gray-300);
    background: var(--color-gray-100);
    outline: none;
}

.markdown li>input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.375rem;
    height: 0.375rem;
    background-color: var(--color-gray-600);
}

.markdown li:has(> input[type="checkbox"]) {
    list-style-type: none;
}

@media print {

    pre,
    code {
        overflow: visible !important;
        white-space: pre-wrap !important;
        word-wrap: break-word !important;
    }

    .code-copy-btn {
        display: none !important;
    }
}