{% import "base/footer.html" as footer %}

<!doctype html>
<html lang="zh-CN">

<head>
    {% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock meta %}
    <link rel="icon" href="{{ config.theme.extensions.favicon_ico }}">
    <link rel="alternate" type="application/atom+xml" title="{{ config.theme.extensions.title }}" href="/atom.xml">
    <link rel="alternate" type="application/rss+xml" title="{{ config.theme.extensions.title }}" href="/rss.xml">
    <title>{% block title %}{{ config.theme.extensions.title }}{% endblock title %}</title>
    <!-- 样式 -->
    {% block styles %}
    <link href="/theme/assets/styles/blog-var.css" rel="stylesheet">
    <link href="/theme/assets/styles/blog-font.css" rel="stylesheet">
    <link href="/theme/assets/styles/blog.css" rel="stylesheet">
    <link href="/theme/assets/styles/blog-markdown.css" rel="stylesheet">
    {% endblock styles %}
</head>

<body>
    <div class="container">
        <!-- 顶部 -->
        <header>
            <!-- LOGO -->
            <div class="logo">
                <div>{{ config.theme.extensions.title }}</div>
            </div>
            <!-- 工具栏 -->
            <div class="toolbar">
                <!-- 面包屑导航栏 -->
                <nav class="breadcrumb">
                    <ol>
                        {% block breadcrumb %}{% endblock breadcrumb %}
                    </ol>
                </nav>
                <!-- 菜单 -->
                <ul class="menu">
                    {% block menu %}
                    {% block common_menu %}
                    <li><a href="/atom.xml">RSS</a></li>
                    {% endblock common_menu %}
                    {% if admin %}
                    {% block admin_menu %}{% endblock admin_menu %}
                    <li><a href="/logout">登出</a></li>
                    <li><span class="disabled">管理员</span></li>
                    {% else %}
                    <li><a href="/login">登录</a></li>
                    {% endif %}
                    {% endblock menu %}
                </ul>
            </div>
        </header>
        <!-- 主体 -->
        <main>
            {% block main %}{% endblock main %}
        </main>
        <!-- 底部 -->
        <footer>
            {% block footer %}
            {{ footer::default() }}
            {% endblock footer %}
        </footer>
        <!-- 消息提示框 -->
        <div class="tips"></div>
    </div>
    <!-- 脚本 -->
    {% block scripts %}
    <script src="/theme/assets/scripts/blog-util.js"></script>
    <script src="/theme/assets/scripts/blog-api.js"></script>
    <script src="/theme/assets/scripts/blog-tips.js"></script>
    <script src="/theme/assets/scripts/blog-modal.js"></script>
    <script src="/theme/assets/scripts/blog-upload.js"></script>
    <script src="/theme/assets/scripts/blog-markdown.js"></script>
    {% endblock scripts %}
</body>

</html>