<!-- 模态框 - 删除文章 -->
{% macro delete_article(class) %}
<div class="modal {{ class }}">
    <div class="modal-dialog">
        <div class="modal-header">
            <span>删除文章</span>
        </div>
        <div class="modal-main">
            <span>注意：文章删除后不可恢复</span>
        </div>
        <div class="modal-footer">
            <button class="close">取消</button>
            <button class="confirm btn-danger">删除</button>
        </div>
    </div>
</div>
{% endmacro delete_article %}

<!-- 模态框 - 删除附件 -->
{% macro delete_attachment(class) %}
<div class="modal {{ class }}">
    <div class="modal-dialog">
        <div class="modal-header">
            <span>删除附件</span>
        </div>
        <div class="modal-main">
            <span>注意：附件删除后不可恢复</span>
        </div>
        <div class="modal-footer">
            <button class="close">取消</button>
            <button class="confirm btn-danger">删除</button>
        </div>
    </div>
</div>
{% endmacro delete_attachment %}

<!-- 模态框 - 文件上传 -->
{% macro upload_file(class) %}
<div class="modal {{ class }}">
    <div class="modal-dialog">
        <div class="modal-header">
            <span>文件上传</span>
        </div>
        <div class="modal-main">
            <div class="form">
                <div class="form-input-group">
                    <label>文件</label>
                    <input type="text" name="name">
                    <label class="btn">选择<input type="file" name="file" style="display: none;"></label>
                </div>
                <div class="form-input-group">
                    <label>路径</label>
                    <input type="text" name="path">
                    {% set copy_fn = "modal_upload_file_copy_path('" ~ class ~ "')" %}
                    <button onclick="{{ copy_fn }}">复制</button>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="close">取消</button>
            <button class="confirm btn-danger">上传</button>
        </div>
    </div>
</div>
{% endmacro upload_file %}

<!-- 模态框 - 附件上传 -->
{% macro upload_attachment(class) %}
<div class="modal {{ class }}">
    <div class="modal-dialog">
        <div class="modal-header">
            <span>附件上传</span>
        </div>
        <div class="modal-main">
            <div class="form">
                <div class="form-input-group">
                    <label>文件</label>
                    <input type="text" name="name">
                    <label class="btn">选择<input type="file" name="file" style="display: none;"></label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="close">取消</button>
            <button class="confirm btn-danger">上传</button>
        </div>
    </div>
</div>
{% endmacro upload_attachment %}