{% import "base/modal.html" as modal %}
{% extends "base/base.html" %}

{% block meta %}
{{ super() }}
{% if context.need_password %}
<meta name="robots" content="noindex,nofollow">
{% endif %}
{% endblock meta %}

{% block title %}{{ context.title }}{% endblock title %}

{% block styles %}
{{ super() }}
<link href="/theme/assets/styles/blog-print.css" rel="stylesheet">
{% endblock styles %}

{% block breadcrumb %}
<li><a href="/">首页</a></li>
<li><a href="/articles">文章</a></li>
<li><span>详情</span></li>
{% endblock breadcrumb %}

{% block admin_menu %}
<li><a href="javascript:void(0)" class="cid-copy-share-link">分享</a></li>
<li><a class="modal-open" href="javascript:void(0)" data-modal-target=".cid-modal-upload-attachment">附件</a></li>
<li><a href="/articles/{{ context.article_id }}/_update">编辑</a></li>
<li><a class="modal-open" href="javascript:void(0)" data-modal-target=".cid-modal-delete-article"
        data-modal-value="{{ context.article_id }}">删除</a></li>
{% endblock admin_menu %}

{% block main %}
<!-- 文章 -->
<article class="article">
    <!-- 标题 -->
    <div class="article-header">
        <h1 class="article-title">
            {{ context.title }}
        </h1>
        <div class="article-metadata">
            {% if context.published_at %}
            <div class="article-metadata-item" title="发布时间">
                <img src="/theme/assets/image/published.svg" alt="发布时间">
                <span>
                    {{ context.published_at | date(format="%Y-%m-%d %H:%M", timezone="Asia/Shanghai") }}
                </span>
            </div>
            {% endif %}
            <div class="article-metadata-item" title="更新时间">
                <img src="/theme/assets/image/updated.svg" alt="更新时间">
                <span>
                    {{ context.updated_at | date(format="%Y-%m-%d %H:%M", timezone="Asia/Shanghai") }}
                </span>
            </div>
            <div class="article-metadata-item" title="阅读量">
                <img src="/theme/assets/image/read.svg" alt="阅读量">
                <span>{{ context.uv | human_number(decimals=2) }}</span>
            </div>
        </div>
    </div>
    <!-- 正文 -->
    <div class="article-main markdown">
        {{ context.render_content | safe }}
    </div>
    <!-- 附件 -->
    {% if context.attachments %}
    <div class="article-attachment">
        <div class="divider-container">
            <div class="divider-line"></div>
            <span class="divider-text">附件</span>
            <div class="divider-line"></div>
        </div>
        <ul class="article-attachment-list">
            {% for attachment in context.attachments %}
            <li class="article-attachment-item">
                <div class="article-attachment-name" title="{{ attachment.name }}">{{ attachment.name }}</div>
                <div class="article-attachment-exts">
                    <div class="article-attachment-size">{{ attachment.size | human_size }}</div>
                    <a class="article-attachment-download-btn" download="{{ attachment.name }}"
                        href="/articles/{{ attachment.article_id }}/attachments/{{ attachment.attachment_id }}">下载</a>
                    {% if admin %}
                    <a class="article-attachment-download-btn modal-open" href="javascript:void(0)"
                        data-modal-target=".cid-modal-delete-attachment"
                        data-modal-value='{"article_id": "{{ attachment.article_id }}","attachment_id": "{{ attachment.attachment_id }}"}'>删除</a>
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</article>
{% if admin %}
<!-- 模态框 - 删除文章 -->
{{ modal::delete_article(class="cid-modal-delete-article") }}
<!-- 模态框 - 删除附件 -->
{{ modal::delete_attachment(class="cid-modal-delete-attachment") }}
<!-- 模态框 - 附件上传 -->
{{ modal::upload_attachment(class="cid-modal-upload-attachment") }}
{% endif %}
{% endblock main %}

{% block scripts %}
{{ super() }}
<script>
    modal_register(".cid-modal-delete-article", {
        on_confirm: (_, id) => {
            api_delete_article(`${id}`, () => { window.location.href = "/articles" });
        }
    });

    modal_register(".cid-modal-delete-attachment", {
        on_confirm: (_, data) => {
            api_delete_attachment(data, () => { window.location.reload() });
        }
    });

    modal_upload_attachment_register(".cid-modal-upload-attachment", {
        open: (modal) => {
            let upload_btn = modal.querySelector(".modal-footer .confirm");
            upload_btn.disabled = false;
            upload_btn.textContent = `上传`;
        },
        confirm: (modal, name, file) => {
            let upload_btn = modal.querySelector(".modal-footer .confirm");
            upload_btn.disabled = true;

            api_upload_attachment("{{ context.article_id }}", name, file, {
                progress: (current, total) => {
                    const percent = Math.round((current / total) * 100);
                    upload_btn.textContent = `${percent}%`;
                },
                success: (xhr) => {
                    tips_show("tips-item-success", "附件上传成功");
                    setTimeout(() => {
                        window.location.reload();
                    }, 1000);
                }
            });
        }
    });

    function change_article_status(event) {
        let id = event.target.dataset.id;
        let status = event.target.dataset.status;
        api_article_update_status(id, status, () => { window.location.reload() });
    }

    function copy_share_link() {
        const share_btn = document.querySelector('.cid-copy-share-link');

        if (share_btn === null) {
            return;
        }

        // 绑定点击事件
        share_btn.addEventListener('click', function () {
            const article_id = "{{ context.article_id }}";
            const base_url = window.location.origin;

            let params = "{% if context.password %}?pwd={{ context.password | urlencode_strict }}{% endif %}";
            let share_link = `${base_url}/articles/${article_id}${params}`;

            // 调用浏览器原生剪贴板API复制内容
            navigator.clipboard.writeText(share_link).then(() => {
                tips_show("tips-item-success", "文章分享链接复制成功");
            }).catch(err => {
                tips_show("tips-item-error", "文章分享链接复制失败");
            });
        });
    }

    document.addEventListener('DOMContentLoaded', () => {
        init_code_copy_btn();
        copy_share_link();
    });
</script>
{% endblock scripts %}